.container-game-demo {
  width: 100%;
  border-radius: 5px;
  padding-top: 40px;
  height: 70dvh;
  min-height: 645px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.game-logo-image {
  width: 100%;
  height: 70%;
  z-index: 10;
}

.game-title-selected {
  width: 100%;
  display: grid;
  place-items: center;
}

.h4-game-player {
  margin-top: 10px;
}

.game-clock {
  position: relative;
  width: 100%;
  display: grid;
  place-content: center;
}

.game-clock-bubble-container {
  position: absolute;
  top: 30px;
  left: 0px;
}

.game-clock-center {
  position: relative;
  padding: 0 35px;
}
